
.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-moz-selection {
	color: black; background: rgb(255, 227, 110);
}

::selection {
	color: black; background: rgb(255, 227, 110);
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 12pt;
	color: #222;
	margin: 0;
	padding: 0;
	min-width: 1000px;
	list-style-type: square;
	list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="#3686ff" cx="5" cy="5" r="2"/></svg>');
}

#canvas3d {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
}

.viewer {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

body > nav {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	font-size: 14pt;
	color: #333;
	background-color: white;
}

body > nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

body > nav > ul > li {
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 1em 1em;
}

body > nav > ul > li:hover {
	color: #000;
	background-color: #fafafa;
}

body > nav > ul > li::after {
	position: absolute;
	overflow: hidden;
	opacity: 0.0;
	bottom: 0;
	width: 50%;
	left: 25%;
	height: 2px;
	background-color: #3686ff;
	content: '';
	transition: all 0.25s ease-in-out;
}

body > nav > ul > li:hover::after {
	opacity: 1.0;
	width: 80%;
	left: 10%;
	bottom: 0.5em;
}

body > section {
	position: relative;
	width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 3em 0;
}

body > section h1 {
	color: #3686ff;
	font-weight: 200;
	font-size: 36pt;
}

body > section:nth-child(2n+1) {
	color: #fff;
	background-color: #3686ff;
	margin: 0;
	/*padding: 2em 0;*/
	width: 100%;
}

body > section:nth-child(2n+1) > * {
	width: 1000px;
	margin: 0 auto;
}

body > section:nth-child(2n+1) h1 {
	color: #fff;
}

#introSection {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100vh;
	background-image: url(../img/intro.jpg);
	background-position: center;
	background-size: cover;
}

#introSection h1 {
	position: absolute;
	top: 70%;
	left: 20%;
	margin: 0;
	padding: 0 0.5em;
	color: #fff;
	background-color: #3686ff;
	line-height: 2em;
	font-weight: 200;
	font-size: 36pt;
}

#introSection h1 span {
	position: absolute;
	bottom: -1.5em;
	right: 1em;
	color: #3686ff;
	background-color: #fff;
	font-size: 18pt;
	font-weight: 500;
	line-height: 2em;
	margin: 0;
	padding: 0 0.5em;
	text-transform: lowercase;
}

#skipButton {
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	right: 5%;
	color: #3686ff;
	background-color: #fff;
	font-size: 36pt;
	text-align: center;
	line-height: 1.5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.75em;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#skipButton:hover {
	color: #fff;
	background-color: #3686ff;
}

#experienceSection > section {
	position: relative;
	margin: 2em 0;
	border-top: 1px solid #3686ff;
}

#experienceSection .range {
	position: absolute;
	padding: 0.5em 0;
	left: 50%;
	top: 0;
	margin-left: -3em;
	width: 6em;
	height: 3em;
	color: #fff;
	background-color: #3686ff;
	text-align: center;
}

#experienceSection .range span {
	display: block;
	/*width: inherit;*/
	position: relative;
	font-size: 14pt;
}

#experienceSection .range .dateFrom {
	top: 1.24em;
}

#experienceSection .range .dateTo {
	top: -1.25em;
}

#experienceSection h2, #experienceSection section > div {
	margin: 0 0 0 550px;
	width: 440px;
	padding: 0 0 0 10px;
	text-align: justify;
}

#experienceSection h2 {
	position: relative;
	color: #3686ff;
	line-height: 1.5em;
	font-size: 18pt;
	font-weight: 300;
}

#experienceSection h2 .company, #experienceSection h2 .location {
	display: block;
	position: absolute;
	top: 1.3em;
	font-size: 14pt;
	font-weight: 300;
}

#experienceSection h2 .company {
	left: 10px;
	color: #3686ff;
}

#experienceSection h2 .location {
	right: 0;
	color: #222;
}

#experienceSection h2 .location i {
	color: #3686ff;
}

#experienceSection section > div {
	margin-top: 2em;
}

#experienceSection aside {
	position: absolute;
	top: 0;
	left: 100px;
}

#experienceSection aside div {
	width: 300px;
	height: 200px;
}

#experienceSection > section:nth-child(2n+1) h2, #experienceSection > section:nth-child(2n+1) > div {
	margin-left: 0;
	padding-left: 0;
}

#experienceSection > section:nth-child(2n+1) aside {
	left: auto;
	right: 100px;
}

#experienceSection > section:nth-child(2n+1) h2 .company {
	left: 0;
}


#skillsSection > div {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

#skillsSection > div > section {
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	width: 33%;
	padding: 10px;
}

#skillsSection > div > section:hover, #skillsSection > div > section:hover h2 i {
	background-color: #fff;
	color: #3686ff;
}

#skillsSection > div > section h2 {
	font-weight: 300;
	font-size: 17pt;
	color: #3686ff;
}

#skillsSection > div > section h2 i {
	/*margin-right: 0.25em;*/
	width: 1.5em;
	text-align: center;
	color: #fff;
	background-color: #3686ff;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#skillsSection ul {
	text-align: justify;
}

#skillsSection li {
	display: inline-block;
	padding-right: 0.1em;
	font-size: 15pt;
}

#skillsSection li:nth-child(1) {
	font-size: 24pt;
}

#skillsSection li:nth-child(2) {
	font-size: 23pt;
}

#skillsSection li:nth-child(3) {
	font-size: 22pt;
}

#skillsSection li:nth-child(4) {
	font-size: 21pt;
}

#skillsSection li:nth-child(5) {
	font-size: 20pt;
}

#skillsSection li:nth-child(6) {
	font-size: 19pt;
}

#skillsSection li:nth-child(7) {
	font-size: 18pt;
}

#skillsSection li:nth-child(8) {
	font-size: 17pt;
}

#skillsSection li:nth-child(9) {
	font-size: 16pt;
}
